<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wordtopdfazurefunc20240111181048.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a091868-6855-4199-bf6f-90258f0e281c/resourcegroups/DocIO_Res_Grp/providers/Microsoft.Web/sites/WordToPDFAzureFunc20240111181048</ResourceId>
    <UserName>$WordToPDFAzureFunc20240111181048</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://wordtopdfazurefunc20240111181048.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>